.dashboard-layout {
	display: flex;
	height: 100vh;
	padding: 12px;
	background-color: $hr_background;

	.side-navbar {
		flex-basis: 20%;
		max-width: 250px;
		min-width: 200px;
		background-color: $hr_background;
	}
	.main-container {
		flex-basis: 80%;
		background-color: $hr_main;
		border-radius: 15px;
	}
	.logo-container {
		text-align: center;
		color: $hr_accent;
	}
	.navbar-container {
		padding-top: 24px;
		padding-left: 16px;
		a {
			text-decoration: none;
		}
		.nav-item {
			display: flex;
			align-items: center;
			color: $hr_main;
			padding: 8px;
			margin-top: 34px;
			cursor: pointer;
			transition: 0.3s all ease-in-out;
			.item-name {
				margin-left: 16px;
				font-weight: 800;
				cursor: pointer;
			}
			&:hover {
				color: $hr_accent;
				border-right: 4px solid $hr_accent;
			}
			&.selected {
				color: $hr_accent;
				border-right: 4px solid $hr_accent;
			}
		}
	}
}
