.input-component {
	border: 1px solid $hr_gray1;
	padding: 4px;
	border-radius: 25px;

	.input {
		border: none;
		outline: none;
		width: 100%;
		line-height: 16px;
		font-size: 16px;
		background: none;
		&:active {
			outline: none;
		}
	}
	.input-icon-container {
		display: flex;
		align-items: center;
	}
	svg {
		margin-left: 8px;
	}
}
